@page "/category"
@using Microsoft.AspNetCore.Authorization
@using StudyMart.Web.Services
@using StudyMart.Web.ViewModels
@inject CategoryService CategoryService
@attribute [Authorize]
@rendermode InteractiveServer

<h3>Category Management</h3>

@if (_categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in _categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <button @onclick="() => EditCategory(category)">Edit</button>
                        <button @onclick="() => DeleteCategory(category.CategoryID)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <EditForm Model="CurrentCategory" OnValidSubmit="HandleValidSubmit" FormName="category-form">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" class="form-control" @bind-Value="CurrentCategory!.Name"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}

@code {
    private List<ViewModels.Category>? _categories;
    [SupplyParameterFromForm]
    private ViewModels.Category? CurrentCategory { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _categories = await CategoryService.GetCategoriesAsync();
        CurrentCategory ??= new();
    }

    private void EditCategory(ViewModels.Category category)
    {
        CurrentCategory = category;
    }

    private async Task DeleteCategory(int id)
    {
        await CategoryService.DeleteCategoryAsync(id);
        _categories = await CategoryService.GetCategoriesAsync();
    }

    private async Task HandleValidSubmit()
    {
        if (CurrentCategory?.CategoryID == 0)
        {
            await CategoryService.AddCategoryAsync(CurrentCategory);
        }
        else
        {
            await CategoryService.UpdateCategoryAsync(CurrentCategory!);
        }

        CurrentCategory = new();
        _categories = await CategoryService.GetCategoriesAsync();
    }
}
